* {
    box-sizing: border-box;
}
.header {
    padding: var(--step-5) var(--step-0);
    height: var(--step-9);
    background-color: var(--user-header-bg-colour);
    filter: var(--page-filter-drop-shadow-settings-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__section {
    display: flex;
    align-items: center;
}
.header__div {
    margin-right: var(--step-0);
    height: var(--step-7);
    width: var(--step-7);
    border-radius: 50%;
    overflow: hidden;
}
.header__image {
    width: var(--step-7);
    object-fit: cover;
}
.header__paragraph {
    font-size: var(--step-1);
}
.header__select {
    font-size: var(--step-0);
    background-color: transparent;
    color: #A7AEC6;
    border: none;
}
.header__select:hover {
    cursor: pointer;
}
/*ToDo Give option cursor pointer if possible*/

.header__logout {
    margin-right: var(--step-8);
    margin-left: var(--step-2);
    width: var(--step-1);
}

.header__logout-button {
    margin-right: var(--step-8);
    margin-left: var(--step-2);
    width: var(--step-1);
    border: none;
    background-color: var(--user-header-bg-colour);
    aspect-ratio: 1 / 1;
    background-image: url(../../assets/Icons/logout-icon.svg);
    background-repeat: no-repeat; 
    background-size: cover; 
}
.header__logout-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 320px) {
    .header__select {
        display: none;
    }
    .header__logout {
        display: none;
    }
}