<h1 class="profile__title">Profile</h1>
<main class="profile">
    <section class="profile__section profile__section--content-centered">
        <img class="profile__image" src="../../assets/Images/profile-photo-2.png" alt="">
    </section>
    <section class="profile__section">
        <p class="profile__input">{{student?.name}}</p>
        <p class="profile__input">{{student?.firstName}}</p>
        <p class="profile__input">{{student?.phoneNumber}}</p>
        <p class="profile__input">{{student?.email}}</p>
    </section>
    <section class="profile__section">
        <p class="profile__input">{{student?.dateOfBirth}}</p>
        <p class="profile__input">{{student?.academicYear}}</p>
        <p class="profile__input">{{student?.address}}</p>
        <p class="profile__input">{{student?.region}}</p>
    </section>
</main>