<h1 class="profile__title">Profile</h1>
<main class="profile">
    <section class="profile__section profile__section--content-centered">
        <img class="profile__image" src="../../assets/Images/profile-photo-2.png" alt="">
    </section>
    <section class="profile__section">
        <p class="profile__input">{{getStudentId()?.name}}</p>
        <p class="profile__input">{{getStudentId()?.firstName}}</p>
        <p class="profile__input">{{getStudentId()?.phoneNumber}}</p>
        <p class="profile__input">{{getStudentId()?.email}}</p>
    </section>
    <section class="profile__section">
        <p class="profile__input">{{getStudentId()?.dateOfBirth}}</p>
        <p class="profile__input">{{getStudentId()?.academicYear}}</p>
        <p class="profile__input">{{getStudentId()?.address}}</p>
        <p class="profile__input">{{getStudentId()?.region}}</p>
    </section>
</main>