* {
    box-sizing: border-box;
}
.sidemenu {
    padding: var(--step-0);
    height: 100%;
    background-color: #4F5866;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidemenu__input {
    appearance: none;
    outline: none;
    pointer-events: none;
}
.sidemenu__collapsed {
    margin-bottom: var(--step-1);
    width: var(--step-1);
}
.sidemenu__collapsed:hover {
    cursor: pointer;
}
.sidemenu__list {
    list-style: none;
}
.sidemenu__item {
    margin-top: var(--step-2);
    margin-bottom: var(--step-2);
}
.sidemenu__icon {
    width: var(--step-1);
}