* {
    box-sizing: border-box;
}
.sidemenu-section {
    padding: var(--step-0);
    height: 100%;
    background-color: #4F5866;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidemenu-list {
    list-style: none;
}
.sidemenu-item {
    margin-top: var(--step-2);
    margin-bottom: var(--step-2);
}