<section class="sidemenu-section">
    <img class="sidemenu-collapsed" src="../../assets/Icons/Union.svg" alt="">
    <nav class="sidemenu-nav">
        <ul class="sidemenu-list">
            <li class="sidemenu-item"><a class="sidemenu-link" routerLink="/#"><img src="../../assets/Icons/home-logo.svg"></a></li>
            <li class="sidemenu-item"><a class="sidemenu-link" routerLink="/#"><img src="../../assets/Icons/tasks-logo.svg"></a></li>
            <li class="sidemenu-item"><a class="sidemenu-link" routerLink="/Tasks"><img src="../../assets/Icons/profile-logo.svg"></a></li>
            <li class="sidemenu-item"><a class="sidemenu-link" routerLink="/#"><img src="../../assets/Icons/contact-info- logo.svg"></a></li>
        </ul>
    </nav>
</section>