.assignments-grid{
    padding: var(--step-0);
    background-color: var(--page-content-bg-colour);
    display: grid;
    gap: var(--step--1);
    
    /* More info about repeat() function here -> https://www.sitepoint.com/css-grid-repeat-function/#usingrepeatwithautofitandautofill */
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--step-0) * 11), 1fr));
}
