<section [className]="'assignments-grid'">
    @for (assignment of assignments; track assignment){
        <tlr-assignment-card 
          [assignmentTitle]="assignment.title"
          [deadlineDate]="assignment.dueDate"
          [uploadDate]="assignment.uploadDate ? assignment.uploadDate : ''"
          [assignmentGrade]="assignment.grade || '0'"
          [isAssignmentUploaded]="assignment.uploaded" 
          [isAssignmentReviewed]="assignment.reviewed" 
          [isAssignmentExpired]="assignment.expired"
        ></tlr-assignment-card>
      }
</section>