<section class="sidemenu">
    <div class="sidemenu__div">
        <img class="sidemenu__logo" src="../../assets/Icons/toledoer-logo.svg" alt="">
        <label class="sidemenu__label">
            <input class="sidemenu__input" type="checkbox" checked (change)="onCheckboxClick()">
            <img class="sidemenu__expanded" matTooltip="Collapse side menu" src="../../assets/Icons/expanded-icon.svg" alt="">
        </label>
    </div>
    <nav class="sidemenu__nav">
        <ul class="sidemenu__list">
            <li class="sidemenu__item"><a class="sidemenu__link" routerLink="/"><img class="sidemenu__icon" src="../../assets/Icons/home-logo.svg"> Home</a></li>
            <li class="sidemenu__item"><a class="sidemenu__link" routerLink="/Tasks"><img class="sidemenu__icon" src="../../assets/Icons/tasks-logo.svg"> Tasks</a></li>
            <li class="sidemenu__item"><a class="sidemenu__link" routerLink="/Profile"><img class="sidemenu__icon" src="../../assets/Icons/profile-logo.svg"> Profile</a></li>
            <li class="sidemenu__item"><a class="sidemenu__link" routerLink="/Contact"><img class="sidemenu__icon" src="../../assets/Icons/contact-info-logo.svg"> Contact info</a></li>
        </ul>
    </nav>
</section>