/*ToDo create 2 more classes for expanded and collapsed menu*/
.app-section {
    display: grid;
    grid-template-columns: var(--page-grid-settings-sidemenu-collapsed);
    height: 100vh;
}
.app-section--expanded {
    grid-template-columns: var(--page-grid-settings-sidemenu-expanded);
}
.page-content{
    background-color: var(--page-bg-color);
    height: 100%;
}