* {
    box-sizing: border-box;
}

.contact__title {
    font-size: var(--step-2);
    font-weight: bold;
    margin: var(--step-0);
}

.contact {
    padding: var(--step-0);
    background-color: var(--page-content-bg-colour);
    display: grid;
    gap: var(--step--1);
    /* More info about repeat() function here -> https://www.sitepoint.com/css-grid-repeat-function/#usingrepeatwithautofitandautofill */
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--step-0) * 22), 1fr));
}

.contact__section {
    min-height: calc(var(--step-3)*10);
    padding: var(--step-0);
    background-color: white;
}

.contact__section-title {
    margin-bottom: var(--step-1);
    font-size: var(--step-1);
    border-bottom: 1pt solid black;
}

.contact__list {
    padding: var(--step-1);
    list-style: none;
}

.contact__icon {
    margin-right: var(--step--1);
    width: var(--step-0);
}

.contact__icon--location {
    width: var(--step-1);
}

.contact__item {
    margin: var(--step-0) 0 var(--step-0) var(--step-2);
    font-size: var(--step-0);
}

.contact__item--title {
    margin: 0;
    font-weight: bold;
}