.login-page-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--login-page-bg-color);
}

.login-window{
    background-color: var(--login-window-bg-color);
    border-radius: var(--step--3);
    padding: var(--step-1);
    box-shadow: var(--login-window-shadow);
}

.login-window-title{
    text-align: center;
    padding: var(--step-1);
    font-size: var(--step-3);
}

.login-window__account-type{
    display: flex;
    flex-direction: row;
    gap: var(--step-3);
}

.login-window__select-option{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.login-account-type__button{
    width: calc(var(--step-1)*7);
    height: calc(var(--step-1)*7);
    opacity: 0%;
    cursor: pointer;
    position: absolute;
}


.login-account-type__button-image{
    width: calc(var(--step-1)*7);
    aspect-ration: 1 / 1;
}

/* Targeting the first sibling of the checked radio button i.e button image */
.login-account-type__button:checked + img {
    outline: solid 1px black;
}

.login-page__greeting-container{
    padding: var(--step-1);
}

.login-page__greeting{
    font-size: var(--step-0);
    text-align: center;
    padding-left: var(--step-1);
    padding-right: var(--step-1);

}

.login-page__call-to-action{
    font-size: var(--step-0);
    text-align: center;
    padding-left: var(--step-1);
    padding-right: var(--step-1);
}

.login-page__error{
    color: red;
    font-size: var(--step-0);
    text-align: center;
    padding-left: var(--step-1);
    padding-right: var(--step-1);
}

.login-form__credentials-section{
    padding-top: var(--step--1);
    display: flex;
    flex-direction: column;
    gap: var(--step--3);
}

.login-form__input-field{
    font-size: var(--step--1);
    height: var(--step-2);
    padding-left: var(--step--1);
    padding-right: var(--step--1);
    padding-top: var(--step--5);
    padding-bottom: var(--step--5);
    border: none;
    border-radius: var(--step--5);
    box-shadow: var(--login-window-input-field-shadow);
}

.login-form__submission-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--step--3);
}

.login-form__remember-me-wrapper{
    display: flex;
    flex: row;
}

.login-form_remember-me-ckeckbox{
    position: relative;
    width: var(--step-3);
    height: var(--step-3);
    border: 2px solid #bb1616;
    cursor: pointer;
}

.login-form_remember-me-label{
    padding-left: var(--step--5);
    padding-right: var(--step-0);
    line-height: var(--step-3);
    font-size: var(--step--1);
}

.login-form_login-button{
    padding-left: var(--step--3);
    padding-right: var(--step--3);
    width: calc(var(--step-3)*6);
    border: none;
    border-radius: var(--step--4);
    background-color: var(--login-window-login-button-bg-colour);
    font-weight: bold;
    color: var(--login-window-login-button-text-colour);
}

.login-form_login-button:hover{
    box-shadow: var(--login-window-login-button-shadow);
    cursor: pointer;
}