<header class="header">
    <section class="header__section">
        <div class="header__div">
            @if(emailFromStorage === student?.email){
                <img class="header__image" src="../../assets/Images/{{student?.picture}}" alt="Profile picture">
            } @else {
                <img class="header__image" src="../../assets/Images/{{teacher?.picture}}" alt="Profile picture">
            }
        </div>
        <p class="header__paragraph">
            @if(emailFromStorage === student?.email){
                {{student?.firstName}} {{student?.name}}
            } @else {
                {{teacher?.firstName}} {{teacher?.name}}
            }
            
        </p>
    </section>
    <section class="header__section">
        <select class="header__select" matTooltip="Select your preferred language" name="" id="">
            <option class="header__option" value="">EN</option>
            <option class="header__option" value="">NL</option>
        </select>
        <button class="header__logout-button" matTooltip="Click to log out" (click)="onLogout()"></button>
    </section>
</header>