<h1 class="Profile__title">Profile</h1>
<main class="Profile">
    <section class="Profile__section Profile__section--img">
        <img class="Profile__image" src="../../assets/Images/profile-photo.png" alt="">
    </section>
    <section class="Profile__section">
        <p class="Profile__input">Name</p>
        <p class="Profile__input">Firstname</p>
        <p class="Profile__input">Phone number</p>
        <p class="Profile__input">E-Mail</p>
    </section>
    <section class="Profile__section">
        <p class="Profile__input">Date of birth</p>
        <p class="Profile__input">Academic year</p>
        <p class="Profile__input">Address</p>
        <p class="Profile__input">Region</p>
    </section>
</main>