<h1 class="profile__title">Profile</h1>
<main class="profile">
    <section class="profile__section profile__section--content-centered">
        <img class="profile__image" src="../../assets/Images/profile-photo.png" alt="">
    </section>
    <section class="profile__section">
        <p class="profile__input">Name</p>
        <p class="profile__input">Firstname</p>
        <p class="profile__input">Phone number</p>
        <p class="profile__input">E-Mail</p>
    </section>
    <section class="profile__section">
        <p class="profile__input">Date of birth</p>
        <p class="profile__input">Academic year</p>
        <p class="profile__input">Address</p>
        <p class="profile__input">Region</p>
    </section>
</main>