<!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->
<div class="custom-select" style="width:200px;">
    <select>
        <option value="0">Select option:</option>
        <option value="1">Option 2</option>
        <option value="2">Option 3</option>
        <option value="3">Option 4</option>
        <option value="4">Option 5</option>
        <option value="5">Option 6</option>
        <option value="6">Option 7</option>
        <option value="7">Option 8</option>
        <option value="8">Option 9</option>
        <option value="9">Option 10</option>
        <option value="10">Option 11</option>
        <option value="11">Option 12</option>
        <option value="12">Option 13</option>
    </select>
</div>