/*!==============++==============*/
/*! All global CSS shall be here */
/*!=============++===============*/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{    
    /* 
        Responsive sizing steps for adjusting typography or spacing.
        These values are calculated to change smoothly based on screen size.
        --step--5 is the smallest and --step-9 is the biggest one.
    */

    --step--5: clamp(0.1758rem, 0.1483rem + 0.2314vi, 0.3277rem);
    --step--4: clamp(0.211rem, 0.175rem + 0.3027vi, 0.4096rem);
    --step--3: clamp(0.2532rem, 0.2063rem + 0.3944vi, 0.512rem);
    --step--2: clamp(0.3038rem, 0.243rem + 0.5123vi, 0.64rem);
    --step--1: clamp(0.3646rem, 0.2858rem + 0.6635vi, 0.8rem);
    --step-0: clamp(0.4375rem, 0.3357rem + 0.8571vi, 1rem);
    --step-1: clamp(0.525rem, 0.3938rem + 1.1048vi, 1.25rem);
    --step-2: clamp(0.63rem, 0.4613rem + 1.421vi, 1.5625rem);
    --step-3: clamp(0.756rem, 0.5394rem + 1.8242vi, 1.9531rem);
    --step-4: clamp(0.9072rem, 0.6296rem + 2.3378vi, 2.4414rem);
    --step-5: clamp(1.0886rem, 0.7334rem + 2.9914vi, 3.0518rem);
    --step-6: clamp(1.3064rem, 0.8525rem + 3.8222vi, 3.8147rem);
    --step-7: clamp(1.5676rem, 0.9885rem + 4.8773vi, 4.7684rem);
    --step-8: clamp(1.8812rem, 1.143rem + 6.2161vi, 5.9605rem);
    --step-9: clamp(2.2574rem, 1.3177rem + 7.9134vi, 7.4506rem);


    /*! Use this one if you need a step that grows really fast */
    --step-3-plus: clamp(1.555rem, 0.1057rem + 7.2467vw, 5.7219rem);

    /*============================*/
    /* Fonts                      */
    /*============================*/

    /*TODO: Find a font */
    --main-font: Poppins;

    /*=============================*/
    /* Login page                  */
    /*=============================*/

    --login-page-bg-colour: #f2f6fa;
    --login-window-bg-colour: #ffffff;
    --login-window-login-button-bg-colour: #7ecdce;
    --login-window-login-button-text-colour: #ffffff;
    --login-window-login-button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --login-window-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --login-window-input-field-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
    /*=============================*/
    /* User header                 */
    /*=============================*/
    
    --page-filter-drop-shadow-settings-header: drop-shadow(var(--step-0) 0 2px #a4a9ad);
    --user-header-bg-colour: #ffffff;

    /*=============================*/
    /* Dropdown                    */
    /*=============================*/

    --dropdown-bg-color: #ffffff;
    --dropdown-border-color: #a4a9ad;
    --dropdown-label-color: #5B5F62;


    /*=============================*/
    /* Sidemenu/content            */
    /*=============================*/ 

    --page-grid-settings-sidemenu-collapsed: var(--step-7) auto;
    --page-grid-settings-sidemenu-expended: ; /*ToDo add sizing for sidemenu expended*/
    --page-bg-color: #f2f6fa;
    
    /* Global CSS variables related to the page content */ 
    --page-content-bg-colour: #f2f6fa;

    /*=============================*/
    /* Assignments grid            */
    /*=============================*/ 

    /* Max width of assignments grid container */
    --assignments-grid-container-max-width: 65rem;

    /*=============================*/
    /* Assignment card             */
    /*=============================*/ 

    /* Global CSS variables related to the assignment card */
    --card-not-uploaded-colour: #a4a9ad;
    --card-not-reviewed-colour: #fecb5c;
    --card-reviewed-colour: #7ecdce;
    --card-expired-colour: #fa5873;

    --card-text-colour-for-dark-bg: #ffffff;
    --card-text-colour-for-light-bg: #a4a9ad;

    --card-content-bg-colour: #ffffff;

    /*=============================*/
    /* Content page                */
    /*=============================*/
    --page-height-settings-content-article: clamp(10.9375rem, 7.4468rem + 18.617vi, 21.875rem);
    --page-with-settings-content-article: clamp(15rem, 10.2128rem + 25.5319vi, 30rem);
}