<main class="contact">
    <section class="contact__section">
        <h1 class="contact__title">Campuses</h1>
        <ul class="contact__list">
            <li class="contact__item contact__item--title"><img class="contact__icon contact__icon--location" src="../../assets/Icons/location-icon.svg" alt="">Regio Leuven + Diest</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt=""> leuven&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)16 375 700</li>
            <li class="contact__item contact__item--title">Regio Limburg</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt=""> limburg&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)11 180 000</li>
        </ul>
    </section>
    <section class="contact__section">
        <h1 class="contact__title">Reception</h1>
        <ul class="contact__list">
            <li class="contact__item contact__item--title"><img class="contact__icon contact__icon--location" src="../../assets/Icons/location-icon.svg" alt="">Hertogstraat (Heverlee)</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">onthaal.hertogstraat&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)16 375 600</li>
            <li class="contact__item contact__item--title">Hasselt</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">onthaal.hasselt&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)11 180 700</li>
        </ul>
    </section>
    <section class="contact__section contact__section--social">
        <h1 class="contact__title contact__title--social">Social media</h1>
        <div>
            <a href="https://www.facebook.com/hogeschoolUCLL/"><img class="contact__social-icon" src="../../assets/Icons/facebook-icon.svg" alt=""></a>
            <a href="https://www.youtube.com/@ucleuvenlimburg"><img class="contact__social-icon" src="../../assets/Icons/youtube-icon.svg" alt=""></a>
            <a href="https://www.instagram.com/ucleuvenlimburg/"><img class="contact__social-icon" src="../../assets/Icons/instagram-icon.svg" alt=""></a>
        </div>
    </section>
</main>
