<h1 class="contact__title">Contact</h1>
<main class="contact">
    <section class="contact__section">
        <h2 class="contact__section-title">Reception</h2>
        <ul class="contact__list">
            <li class="contact__item contact__item--title"><img class="contact__icon contact__icon--location" src="../../assets/Icons/location-icon.svg" alt="">Hertogstraat (Heverlee)</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">onthaal.hertogstraat&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)16 375 600</li>
            <li class="contact__item contact__item--title"><img class="contact__icon contact__icon--location" src="../../assets/Icons/location-icon.svg" alt="">Hasselt</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">graduaten.welzijn.limburg&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">bachelor.ortho.limburg&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)11 180 700</li>
        </ul>
    </section>
    <section class="contact__section">
        <h2 class="contact__section-title">Student coach</h2>
        <ul class="contact__list">
            <li class="contact__item contact__item--title">Jan Van Hee</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">jan.vanhee&commat;cll.be</li>
            <li class="contact__item contact__item--title">Karen Baerts</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">karen.baerts&commat;ucll.be</li>
            <li class="contact__item contact__item--title">Serhat Erdogan</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">serhat.erdogan&commat;ucll.be</li>
        </ul>
    </section>
    <section class="contact__section">
        <h2 class="contact__section-title">Student Services</h2>
        <ul class="contact__list">
            <li class="contact__item contact__item--title">Thu Dang</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">thu.dang&commat;cll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)16 375 531</li>
            <li class="contact__item contact__item--title">Michiel Driesen</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">michiel.driesen&commat;ucll.be</li>
            <li class="contact__item contact__item--title">Hedwig Peetermans</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/mail-icon.svg" alt="">hedwig.peetermans&commat;ucll.be</li>
            <li class="contact__item"><img class="contact__icon" src="../../assets/Icons/phone-icon.svg" alt=""> +32 (0)16 375 665</li>
        </ul>
    </section>
</main>